{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "env": {
    "loose": true,
    "modules": true,
    "development": {
    }
  },
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-vue-jsx"
  ]
}
